@import '../../../public/assets/styles/import.scss';

.chat-input {
    box-sizing: border-box;
    width: 100%; 
    background: linear-gradient(90.37deg, rgba(63, 137, 141, 0.225) 0.22%, rgba(196, 196, 196, 0) 124.63%);
    transform: translateY(2vh);
    padding: 10px 10px;
    color: white;
    position: relative;
    bottom: -40px;
    margin: 0 -10px;
}