@import '../../../public/assets/styles/import.scss';

@font-face {
        font-family: "MonumentExtendedLight";
        src: url("../../../public/assets/fonts/MonumentExtended-Light.ttf") format('truetype');
}

.ecran-final {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader_video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
    }

    // .overlay {
    //     position: fixed;
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     background-color: rgba(25, 46, 42, 0.4);
    //     z-index: 2;
    // }

    .texte-final {
        background: rgba(134, 235, 217, 0.1);
        padding: 1em;
        width: 400px;
        height: 550px;
        margin-left: 1em;
        color: white;
        h1 {
            font-family: "MonumentExtendedLight", Arial, Helvetica, sans-serif;
            font-size: 14px;
            margin-bottom: 2em;
            color: #86EBD9;
            text-shadow: #86EBD9 1px 0 3px;
        }
        p {
            font-family: "MonumentExtendedLight", Arial, Helvetica, sans-serif;
            font-size: 12px;
            margin-bottom: 16px;
        }
    }

    .button {
        position: relative;
        .img-cadre-bouton {
            position: absolute;
            top: -200%;
            left: 15.5%;
            width: 250px;
            z-index: -1;
        }
        a {
            padding: 26px 48px 22px 48px;
            font-family: "MonumentExtendedLight", Arial, Helvetica, sans-serif;
            background: rgba(196, 196, 196, 0.1);
            color: #FFF;
            font-size: 20px;
            margin: 4em;
            cursor: pointer;
        }
    
    }

    .bilan {
        background: rgba(134, 235, 217, 0.1);
        padding: 1em;
        width: 400px;
        height: 550px;
        margin-right: 1em;
        color: white;
        h2 {
            font-family: "MonumentExtendedLight", Arial, Helvetica, sans-serif;
            margin-bottom: 2em;
        }
        p {
            font-family: "MonumentExtendedLight", Arial, Helvetica, sans-serif;
            font-size: 12px;
            margin-bottom: 16px;
        }
        .personnages {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                margin: 6px;
                width: 80px;
            }
        }
        .missions {
            margin-top: 2em;
            .mission {
                display: flex;
                align-items: center;
            }
        }
    }


}
