@import '../../../public/assets/styles/import.scss';

.dock-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.dock-icon {
    height: 30px;
}

.dock-text {
    margin-top: 0.5vh;
    color: white;
}