@import '../../../public/assets/styles/import.scss';

@font-face {
    font-family: "MonumentExtendedLight";
    src: url("../../../public/assets/fonts/MonumentExtended-Light.ttf") format('truetype');
  }

.dock-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.dock-icon {
    height: 30px;
}

.dock-text {
    margin-top: 0.5vh;
    color: white;
    font-size: 12px;
    font-family: "MonumentExtendedLight";
}