*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
}
.nameDossierDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.dossierItem{
    width: 88px;
    height: 72px;
    background: url('./img/Group\ 14.png');
    margin: 2vw;
    margin-bottom: 0.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.second{
    background-color: pink;
}
.popUpDossier{
    background: rgba( 255, 255, 255, 0.3 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: absolute;
    top: 100px;
    left: 200px;
    width: 50%;
    padding: 100px;
    flex-direction: row;
}
.closeDossier{
    width: 2.5vw;
    height: 2vw;
    background: url('../../../public/assets/images/terminal-bar/Bar-top-right.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 97%;
    left: 94%;
}
.loaderCircle{
    width: 2.1vw;
    height: 2.1vw;
    background-color: red;
    border-radius: 100%;
    margin-top: 5%;
}