*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dossierItem{
    width: 88px;
    height: 72px;
    background: url('./img/Group\ 14.png');
    margin: 2vw;
}
.second{
    background-color: pink;
}
.popUpDossier{
    background: black;
}