@import '../../../public/assets/styles/import.scss';

.people-scoreboard-container{
    width: 30vw;
    height: 30vh;
    background: linear-gradient(90.13deg, rgba(63, 137, 141, 0.19) 0.43%, rgba(196, 196, 196, 0) 145.64%);
    position: absolute;
    z-index: 2;
    transform: translateY(60vh) translateX(2.5vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    color: black;
}