.containerSurconsommation{
    width: 1000px;
    height: 600px;
    background: url(../../../public/assets/images/surconso/fenetre.png);
    background-position: center ;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    border: 2px solid #86EBD9;
}
.productContainer{
    width: 1000px;
    height: 700px;
    padding-top: 160px;
}
.scrollDiv{
    width: 1000px;
    height: 390px;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;
}
.product1{
    width: 20%;
    height: 260px;
    background-image: url(../../../public/assets/images/surconso/product1.png);
    background-position: center ;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 20px;
}
.product2{
    width: 20%;
    height: 260px;
    background-image: url(../../../public/assets/images/surconso/product2.png);
    background-position: center ;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 20px;
}
.product3{
    width: 20%;
    height: 260px;
    background-image: url(../../../public/assets/images/surconso/product3.png);
    background-position: center ;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 20px;
}
.product4{
    width: 20%;
    height: 260px;
    background-image: url(../../../public/assets/images/surconso/product4.png);
    background-position: center ;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 20px;
}
.product5{
    width: 20%;
    height: 260px;
    background-image: url(../../../public/assets/images/surconso/product5.png);
    background-position: center ;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 20px;
}
.product6{
    width: 20%;
    height: 260px;
    background-image: url(../../../public/assets/images/surconso/product6.png);
    background-position: center ;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 20px;
}
.product7{
    width: 20%;
    height: 260px;
    background-image: url(../../../public/assets/images/surconso/product7.png);
    background-position: center ;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 20px;
}
.inputSearch{
    position: absolute;
    top: 9%;
    left: 31%;
    width: 400px;
    height: 30px;
    background: rgba( 255, 255, 255, 0.25 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 3px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.containerSurconsommation .productContainer{
    height: 100px;
}