@import '../../../public/assets/styles/import.scss';

.dock-container {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 0 20%;
    z-index: 9;
    
    .row-dock{
        border: 1px solid rgba(63, 137, 141, 0.19);
        padding: 14px 0 4px 0;
        width: 100%;
        display: flex;
    justify-content: space-evenly;
    align-items: center;
        background: linear-gradient(
            90.13deg
            , rgba(63, 137, 141, 0.19) 0.43%, rgba(196, 196, 196, 0) 145.64%);
    }
}