.containerSearch{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}
.crossDiv{
    width:2vw;
    height: 2vw;
    background-color: green;
}