@import '../../../../public/assets/styles/import.scss';


@font-face {
    font-family: 'MonumentExtendedLight';
    src: url('../../../../public/assets/fonts/MonumentExtended-Light.ttf');
}

.settingsModalPage{

    .reduceBar{
        color: white;
        width: 50px;
    }

    .settingsModal{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        border: solid 1px #86EBD9;
        
        .leftSideMenu{
            width: 25%;
            height: 100%;
            border-right: solid 1px #86EBD9;
            background: linear-gradient(90deg, rgba(63, 137, 141, 0.7) 30%, rgba(255, 255, 255, 0.2) 100%),
        } 

        .rightSideMenu{
            width: 75%;
            height: 100%;
            background: linear-gradient(90deg, rgba(63, 137, 141, 0.4) 1%, rgba(255, 255, 255, 0.2) 80%),
        }
    }
}


.userAvatar{
    display: flex;
    align-items: center;

    .avatarImg{
        padding: 20px;
        border-radius: 100px;
    }

    .avatarName{
        color: white;
    }
}

.settingsList{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 12px;

    .currentSelec{
        height: 100%;
        width: 100%;
        padding: 15px;
        background-color: rgba(63, 137, 141, 44%);
        border: #86EBD9 solid 1px;
        border-radius: 2px;
        color: #86EBD9;
    }

    .settingsItem{
        display: flex;
        justify-content: start;
        margin-left: 30px;
        color: #86EBD9;
        font-family: 'MonumentExtendedLight', Arial, Helvetica, sans-serif;

        &:hover{
            cursor: default;
        }
    }
}

.settingsItemNotSelec{
    display: flex;
    justify-content: start;
    margin-left: 30px;
    color: #86EBD9;
    font-family: 'MonumentExtendedLight', Arial, Helvetica, sans-serif;

    &:hover{
        cursor: pointer;
        transform: scale(110%);
        transition: .5s;
    }

    &:not(:hover){
        transition: .5s;
    }
}


.rightSideText{
    color: white;
    font-family: 'MonumentExtendedLight', Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 25px;
    line-height: 30px;
    font-size: 14px;
}








