@import '../../../public/assets/styles/import.scss';

.SurconsommationPasswordDecryptor{
    width: 1000px;
    height: 600px;
    background-color: #2F404D;
    .chrono-password-decryptor{
        width: 100%;
        height: 15%;
        padding: 2vh 2vw;
        position: absolute;
        z-index: 2;
    }
    .chrono-decryptor{
        width: 100px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-image: url(../../../public/assets/images/surconsso-decryptor/chrono-background.png);
    }
}
.chrono {
    font-size: 20px;
}
.inputs-decryptor{
    width: 100%;
    height: 10%;
    display: flex;
    padding: 0 0 0 22.5%;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: 10%;
}

.input-decryptor{
    margin: 0 2%;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../../public/assets/images/surconsso-decryptor/background-input.png);
    height: 100%;
    width: 15%;
    padding: 0 3% 0 3.5%;
    color: white;
    letter-spacing: 25px;
    font-size: 20px;

    &.validated{
        border: 2px solid #86EBD9;
    }
}

.menus-decryptor {
    width: 90%;
    height: 75%;
    position: absolute;
    z-index: 2;
    top: 25%;
}

.row-top {
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-mid {
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-bottom {
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.decryptor-part{
    width: 20%;
    height: 90%;
    margin: 0 2%;
    .code-unlock{
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .decryptor-desc{
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: white;
        padding:20px 10px;
        background: linear-gradient(90.13deg, rgba(63, 137, 141, 0.19) -1.79%, rgba(196, 196, 196, 0) 143.41%);
    }
}
.code-part-fix {
    background-image: url('../../../public/assets/images/surconsso-decryptor/Union.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #86EBD9;
    padding-bottom: 3%;
    text-shadow: 0px 0px 4px rgba(134, 235, 217, 0.57);
    letter-spacing: 5px;
}
.surconsommation-chart{
    width: 20%;
    height: 60%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 5;
    left: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2% 2% 0;
    top: 15%;
    background-image: url('../../../public/assets/images/surconsso-decryptor/surconsommation-chart.png');
}

.bar {
    width: 14%;
    margin-top: 5%;
    background-color: #86EBD9;
}
.victorySurconso{
    position: absolute;
    top: 300px;
    left: 50%;
    background-color: red;
    color: #fff;
}