.JeuRepartition {
    width: 1000px;
    height: 600px;
    position: relative;
    background-color: rgba($color: #000000, $alpha: 0.1);

    .terminal {
      position: absolute;
      top: -15%;
      left: -15%;
        .table {
          border: 1px solid #FFF; 
          border-collapse: collapse; 
          width:320px;      
          .top {
            border: 1px solid #FFF; 
            font-family: "MonumentExtendedLight";
            font-size:9px;
            background-color:#FFF;
            color: #030303;
            padding: 8px 12px;
            text-align:left;
          }
          .middle {
            border: 1px solid #FFF; 
            font-family: "MonumentExtendedLight";
            font-size:9px;
            background-color:#030303;
            color: white;
            vertical-align: top;
            height: 130px;
            padding: 8px 12px;
            .middle-text1 {
              font-family: "MonumentExtendedLight";
              display: inline-block;
              margin-bottom: 12px;
            }
          }
        } 
      }

      .circuit {
        .img-circuit {
          position: absolute;
          width: 1000px;
          height: 600px;
          z-index: -1;
        }
      }



    .tuyauFirst{
        position: absolute;
        width: 20px;
        height: 40px;
        bottom: 3%;
        left: 3%;
        background-color: yellow;
    }
    .tuyauSecond{
        position: absolute;
        width: 40px;
        height: 40px;
        bottom: 3%;
        left: 8%;
        background-color: yellow;
    }
    .tuyauThird{
        position: absolute;
        width: 40px;
        height: 20px;
        bottom: 3%;
        left: 15%;
        background-color: yellow;
    }
    .firstPlace{
        position: absolute;
        width: 20px;
        height: 40px;
        top: 53%;
        right: 15.7%;
        background-color: red;
    }
    .secondPlace{
        position: absolute;
        width: 40px;
        height: 20px;
        top: 0%;
        right: 0%;
        background-color: red;
    }
    .thirdPlace{
        position: absolute;
        width: 50px;
        height: 30px;
        top: 0%;
        right: 0%;
        background-color: red;
    }
    .initPosition{
        top: 0;
        left: 0;
    }
}
