.JeuRepartition {
    width: 1000px;
    height: 600px;
    position: relative;
    background-color: rgba($color: #000000, $alpha: 0.1);

    .terminal {
      position: absolute;
      top: -15%;
      left: -15%;
        .table {
          border: 1px solid #FFF; 
          border-collapse: collapse; 
          width:320px;      
          .top {
            border: 1px solid #FFF; 
            font-family: "MonumentExtendedLight";
            font-size:9px;
            background-color:#FFF;
            color: #030303;
            padding: 8px 12px;
            text-align:left;
          }
          .middle {
            border: 1px solid #FFF; 
            font-family: "MonumentExtendedLight";
            font-size:9px;
            background-color:#030303;
            color: white;
            vertical-align: top;
            height: 130px;
            padding: 8px 12px;
            .middle-text1 {
              font-family: "MonumentExtendedLight";
              display: inline-block;
              margin-bottom: 12px;
            }
          }
        } 
      }

      .circuit {
        .img-circuit {
          position: absolute;
          width: 1000px;
          height: 600px;
          z-index: -1;
        }
      }



    .tuyauFirst{
        position: absolute;
        width: 20px;
        height: 40px;
        bottom: 3%;
        left: 3%;
        background-color: yellow;
    }
    .tuyauSecond{
        position: absolute;
        width: 40px;
        height: 40px;
        bottom: 3%;
        left: 8%;
        background-color: yellow;
    }
    .tuyauThird{
        position: absolute;
        width: 40px;
        height: 20px;
        bottom: 3%;
        left: 15%;
        background-color: yellow;
    }
    .firstPlace{
        position: absolute;
        width: 20px;
        height: 40px;
        top: 53%;
        right: 15.7%;
        background-color: red;
    }
    .secondPlace{
        position: absolute;
        width: 40px;
        height: 20px;
        top: 0%;
        right: 0%;
        background-color: red;
    }
    .thirdPlace{
        position: absolute;
        width: 50px;
        height: 30px;
        top: 0%;
        right: 0%;
        background-color: red;
    }
    .initPosition{
        top: 0;
        left: 0;
    }
}
.filterImg{
  width: 62px;
  height: 62px;
  background: rgba(255, 255, 255, 0.158);

-webkit-backdrop-filter: blur( 4.5px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 5px;
}
.filter1{
  position: absolute;
  top: 43%;
  left: 17.5%;
}
.filter2{
  position: absolute;
  top: 4%;
  left: 47.8%;
}
.filter3{
  position: absolute;
  top: 34.2%;
  right: 3.7%;
}
.filter4{
  position: absolute;
  bottom: 4%;
  right: 23.7%;
}
.filter5{
  position: absolute;
  bottom: 7.6%;
  left: 38.5%;
}
.tuyauType{
  position: absolute;
  cursor: pointer;
  opacity: .4;
}

.emplacement{
  position: absolute;
  cursor: pointer;
  background-color: rgba(83,87,97,.7);
  border: 1px dashed rgba(100,149,143,.7);
  width: 50px;
  height: 50px;
  transition: all .3s ease-in-out;

  &:hover{
    background-color: rgba(100,149,143,.4);
  }
}

.tuyauItem{
  margin: 10px;
  opacity: .6;
  transition: all .2s ease-in-out;

  &:hover{
    cursor: pointer;
    opacity: 1;
  }
}
