@import '../../../public/assets/styles/import.scss';

.mission{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 2px;
}

.mission-check {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(103.84deg, rgba(134, 235, 217, 0.8) 0%, rgba(134, 235, 217, 0.8) 0.01%, rgba(134, 235, 217, 0.4) 45.76%, rgba(134, 235, 217, 0.2) 91.51%);
}

.mission-title {
    color: white;
    font-size: 18px;
    font-weight: 100;
    margin-left: 1vw;
}

.mission{
    position: relative;

    input{
        position: absolute;
        top: -999999999px;
    }

    .checked::before{
        content: "";
        width: 8px;
        height: 8px;
        display: block;
        background-color: #fff;
        position: absolute;
        opacity: .8;
        top: 4px;
        left: 3px;
    }
}