@import '../../../../public/assets/styles/import.scss';

@font-face {
  font-family: "MonumentExtendedLight";
  src: url("../../../../public/assets/fonts/MonumentExtended-Light.ttf") format('truetype');
}

.JeuDechetsNew {   
  width: 1000px;
  height: 600px;
  background-image: url('../../../../public/assets/images/jeu-dechets/plage.png');
  background-size: 1000px 600px;
  background-repeat: no-repeat;
  position: relative;

  .terminal {
    .table {
      border: 1px solid #FFF; 
      border-collapse: collapse; 
      width:350px;      
      .top {
        border: 1px solid #FFF; 
        font-family: "MonumentExtendedLight";
        font-size:9px;
        background-color:#FFF;
        color: #030303;
        padding: 8px 12px;
        text-align:left;
      }
      .middle {
        border: 1px solid #FFF; 
        font-family: "MonumentExtendedLight";
        font-size:9px;
        background-color:#030303;
        color: white;
        vertical-align: top;
        height: 130px;
        padding: 8px 12px;
        .middle-text1 {
          font-family: "MonumentExtendedLight";
          display: inline-block;
          margin-bottom: 12px;
        }
      }
      .bottom {
        border: 1px solid #FFF; 
        background-color:#030303;
        padding: 4px 12px 8px 12px;
        input {
          font-family: "MonumentExtendedLight";
          font-size:9px;
          background-color:#030303;
          color: white;
          &::placeholder {
            font-family: "MonumentExtendedLight";
            font-size:9px;
            color: white;
          }
        }
      }
    } 
  }

  .dechets {
    .dechet1 {
      width: 20px;
      height: 20px;
      background-color: red;
      position: absolute;
      top: 90%; 
      left: 25%;
      cursor: pointer;
    }
    .dechet2 {
      width: 20px;
      height: 20px;
      background-color: red;
      position: absolute;
      top: 85%; 
      left: 38%;
      cursor: pointer;
    }
    .dechet3 {
      width: 20px;
      height: 20px;
      background-color: red;
      position: absolute;
      top: 95%; 
      left: 50%;
      cursor: pointer;
    }
    .dechet4 {
      width: 20px;
      height: 20px;
      background-color: red;
      position: absolute;
      top: 80%; 
      left: 65%;
      cursor: pointer;
    }
    .dechet5 {
      width: 20px;
      height: 20px;
      background-color: red;
      position: absolute;
      top: 85%; 
      left: 85%;
      cursor: pointer;
    }
  }
}