@import '../../../../public/assets/styles/import.scss';

@font-face {
  font-family: "MonumentExtendedLight";
  src: url("../../../../public/assets/fonts/MonumentExtended-Light.ttf") format('truetype');
}

.JeuDechetsNew {   
  width: 100vw;
  height: 100vh;
  background-image: url('../../../../public/assets/images/jeu-dechets/plage.png');
  background-size: contain;
  background-repeat: no-repeat;

  .terminal {
    .table {
      border: 1px solid #FFF; 
      border-collapse: collapse; 
      width:300px;      
      .top {
        border: 1px solid #FFF; 
        font-family: "MonumentExtendedLight";
        font-size:9px;
        background-color:#FFF;
        color: #030303;
        padding: 8px 12px;
        text-align:left;
      }
      .middle {
        border: 1px solid #FFF; 
        font-family: "MonumentExtendedLight";
        font-size:9px;
        background-color:#030303;
        color: white;
        vertical-align: top;
        height: 100px;
        padding: 8px 12px;
        .middle-text1 {
          font-family: "MonumentExtendedLight";
          display: inline-block;
          margin-bottom: 12px;
        }
      }
      .bottom {
        border: 1px solid #FFF; 
        background-color:#030303;
        padding: 4px 12px 8px 12px;
        input {
          font-family: "MonumentExtendedLight";
          font-size:9px;
          background-color:#030303;
          color: white;
          &::placeholder {
            font-family: "MonumentExtendedLight";
            font-size:9px;
            color: white;
          }
        }
      }
    } 
  }

  .dechet1 {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 0%; left: 0%px;
    cursor: pointer;
  }
  .dechet2 {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 10%; left: 10%;
    cursor: pointer;
  }
  .dechet3 {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 20%; left: 20%;
    cursor: pointer;
  }
  .dechet4 {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 30%; left: 30%;
    cursor: pointer;
  }
  .dechet5 {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 40%; left: 40%;
    cursor: pointer;
  }
  .dechet6 {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 50%; left: 50%;
    cursor: pointer;
  }
  .dechet7 {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 60%; left: 60%;
    cursor: pointer;
  }
}