@import '../../../public/assets/styles/import.scss';

.subtitle {
    text-align: center;
    color: white;
    font-size: 2.5vh;
}

.mission-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}