@import '../../../public/assets/styles/import.scss';

.progress-bar {
    height: 100px;
    position: fixed;
    top: -20px;
    width: 100%;
    left: 35%;
    display: flex;
    align-items: center;

    .progress-bar-bg{
        width: 500px;
        height: 100px;
        position: absolute;
        z-index: -2;
    }

    .progress-bar-chart {
        width: 25%;
        height: 35%;
        position: absolute;
        z-index: 2;
        left: 2.25%;
        background-color: #86EBD9;
    }
}