@import '../../../public/assets/styles/import.scss';

.progress-bar {
    height: 100px;
    position: fixed;
    top: -20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .progress-bar-bg{
        width: 500px;
        height: 100px;
        position: absolute;
        z-index: -2;
    }

    .progress-bar-chart {
        width: 0%;
        height: 35%;
        position: absolute;
        z-index: -1;
        left: 37.5%;
        background-color: #86EBD9;
    }

    .timer {
        position: absolute;
        z-index: 10;
    }
}