.jeuSurconsommationModal{

    .displayContainer{
        background: url(../../../../public/assets/images/surconso/fenetre.png);
        background-position: center;
        background-position: 100%;
    }

    .topImgDisplaying{
        padding-top: 100px;
        display: flex;
        justify-content: space-around;
        padding-bottom: 100px;
        align-items: center;

    }

    .bottomImgDisplaying{
        display: flex;
        justify-content: space-around;
    }

    .ImgDisplay1, .ImgDisplay2, .ImgDisplay3, .ImgDisplay4, .ImgDisplay5, .ImgDisplay6{
        position: relative;

        .img{
            width: 150px;
            height: 150px;
        }
    }

    .delete-btn{
        width: auto;
        position: absolute;
        bottom: 4px;
        right: 26px;

        &:hover{
            cursor: pointer;
        }
    }
}
.loader-video {
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 0px;
    z-index: 10;
}