@font-face {
    font-family: 'MonumentExtendedBlack';
    src: url('../../../../public/assets/fonts/MonumentExtended-Black.otf');
}

.corbeille_page{
    width: 1000px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90.13deg, rgba(63, 137, 141, 0.19) 0.43%, rgba(196, 196, 196, 0) 145.64%);
    z-index: 2;
    position: relative;

    .reduceBar{
        color: white;
        width: 50px;
    }

    .settingsModal{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        border: solid 1px #86EBD9;
    }
    

    .leftSideMenu{
        // position: absolute;
        // left: 0;
        width: 25%;
        height: 100%;
        border-right: solid 1px #86EBD9;
        background: linear-gradient(90deg, rgba(63, 137, 141, 0.7) 30%, rgba(255, 255, 255, 0.2) 100%),
    } 

    .rightSideMenu{
        width: 75%;
        height: 100%;
        background: linear-gradient(90deg, rgba(63, 137, 141, 0.4) 1%, rgba(255, 255, 255, 0.2) 80%),
    }
}


.userAvatar{
    display: flex;
    align-items: center;

    .avatarImg{
        padding: 20px;
        border-radius: 100px;
    }

    .avatarName{
        color: white;
    }
}

.settingsList{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 12px;

    .currentSelec{
        height: 100%;
        width: 100%;
        padding: 15px;
        background-color: rgba(63, 137, 141, 44%);
        border: #86EBD9 solid 1px;
        border-radius: 2px;
        color: #86EBD9;
    }

    .settingsItem{
        display: flex;
        justify-content: start;
        margin-left: 30px;
        color: #86EBD9;
        font-family: 'MonumentExtendedLight', Arial, Helvetica, sans-serif;

        &:hover{
            cursor: default;
        }
    }
}

.settingsItemNotSelec{
    display: flex;
    justify-content: start;
    margin-left: 30px;
    color: #86EBD9;
    font-family: 'MonumentExtendedLight', Arial, Helvetica, sans-serif;

    &:hover{
        cursor: pointer;
        transform: scale(110%);
        transition: .5s;
    }

    &:not(:hover){
        transition: .5s;
    }
}


.rightSideText{
    color: white;
    font-family: 'MonumentExtendedLight', Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 25px;
    line-height: 30px;
    font-size: 14px;
}

.scrollDrawerContainerCorbeille{
    border: #86EBD9 solid 1px;
    width: 600px;
    // height: 40px;
    background-color: transparent;
    display: flex;
    gap: 450px;
    align-items: center;
    position: relative;
    margin-left: 75px;
    margin-top: 35px;
    
    .scrollDrawerText{
        display: flex;
        color: white;
        font-family: 'MonumentExtendedLight';
        padding-left: 20px;
        align-items: center;
        min-height: 39px;
    }

}

.chevronIconCorbeille{
    position: absolute ;
    right: 0;
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    background-color: #86EBD9;
    padding: 10px;
    cursor: pointer;
    font-family: 'MonumentExtendedBlack';
}


.trashShow{
    width: 100%;
    margin-top: 50px;

    .trashBtn{
        cursor: pointer;
        width: 200px;
        height: 40px;
        margin: 10px;
        background-image: url("../../../../public/assets/images/corbeille/bar-top-left.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.trashImg{
    width: 400px;
    margin-top: 20px;
}