@import './variables.scss';
@import '../config/fonts.scss';
body {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
    list-style: none;
    text-decoration: none;
}